In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
# Read in the data from the CSV file
df = pd.read_csv('fraud_datasets/payment_fraud.csv')

In [4]:
df.sample(30)

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
34070,1252,1,4.895263,paypal,0.000000,0
2663,2,1,4.505662,creditcard,1.310417,0
38206,2000,1,4.745402,creditcard,0.000000,0
6016,1335,1,4.921349,creditcard,0.865278,0
34979,39,1,4.748314,paypal,0.000000,0
13438,278,1,4.505662,creditcard,266.062500,0
9614,735,1,4.895263,creditcard,0.000000,0
3622,1981,1,3.483951,creditcard,5.472917,0
206,17,1,5.034622,creditcard,0.000000,0
9943,17,1,4.921318,creditcard,0.000000,0
36291,2,1,4.836982,creditcard,0.000000,0
657,729,1,4.876771,paypal,38.096528,0
36461,125,1,4.962055,creditcard,124.080556,0
3445,229,1,4.524580,paypal,0.000000,0
25984,85,1,4.921318,paypal,84.959722,0
29376,70,1,5.017904,creditcard,0.040972,0
15712,155,1,5.034622,creditcard,0.000000,0
16015,833,2,5.017904,creditcard,7.112500,0
5477,13,1,4.742303,creditcard,12.897917,0
1390,2,1,4.876771,creditcard,0.000000,0
29866,2000,1,4.965339,storecredit,428.295833,0
5440,24,1,4.836982,creditcard,0.000000,0
38071,32,1,4.895263,paypal,0.000000,0
3431,6,1,4.505662,creditcard,0.000694,0
6829,12,1,4.745402,paypal,0.000000,0
17462,1459,1,5.034622,creditcard,0.000000,0
9790,1,1,2.948940,creditcard,0.000000,1
37879,2000,1,4.748314,creditcard,1758.079167,0
19783,2000,1,4.962055,creditcard,5.957639,0
11634,2000,1,4.505662,creditcard,1.509722,0

In [5]:
# Convert categorical feature into dummy variables with one-hot encoding
df = pd.get_dummies(df, columns=['paymentMethod'])
df.sample(3)

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_creditcard,paymentMethod_paypal,paymentMethod_storecredit
26308,1448,1,5.034622,315.279861,0,0,1,0
23969,78,1,4.962055,0.082639,0,1,0,0
4472,404,1,4.057414,273.083333,0,1,0,0

In [6]:
# Split dataset up into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [7]:
# Initialize and train classifier model
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)

/home/hbbg/shyam_works/vir_env/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [8]:
# Compare test set predictions with ground truth labels
print(accuracy_score(y_pred, y_test))
print(confusion_matrix(y_test, y_pred))

0.999922738159623
[[12753     0]
 [    1   189]]